<div class = "row">
    <div class = "col-sm-12">
        <h2 style = "text-align: center;">Interactions you've logged</h2>
    </div>
</div>

<% if @user.interactions.count == 0 %>
<p>You do not have any interactions logged yet.  Would you like to add one?</p>
<% end %>

<% @user.interactions.each do |interaction| %>

            <div class = "row">
                <div class = "col-sm-2" style = "color:#6d4e3b;"><%= interaction.date %></div>
                <div class = "col-sm-3">
                    <a href = "/persons/<%= interaction.person.id %>">
                        <%= interaction.person.name %>
                    </a>
                </div>
                <div class = "col-sm-3"><%= interaction.person.company_name %></div>
                <div class = "col-sm-4">
                    <a href = "/interactions/<%= interaction.id %>">
                        <%= interaction.notes %>
                    </a>
                </div>
            </div>

<% end %>

<a class="btn btn-outline-dark" href = "/interactions/new" role = "button">New Interaction</a>