<div class = "row">
    <div class = "col-sm-12">
        <h2 style = "text-align: center;">Interactions you've logged</h2>
    </div>
</div>


<% if @user.interactions.count == 0 %>
    <p>You do not have any interactions logged yet.  Would you like to add one?</p>
<% else %>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Connection</th>
                <th scope="col">Company</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>
        <tbody>

            <% @user.interactions.each do |interaction| %>
                <tr>
                    <td style = "color:#6d4e3b;"><%= interaction.date %></td>
                    <td><a href = "/persons/<%= interaction.person.id %>"><%= interaction.person.name %></a></td>
                    <td><%= interaction.person.company_name %></td>
                    <td><a href = "/interactions/<%= interaction.id %>"><%= interaction.notes %></a></td>
                </tr>  
            <% end %>
        </tbody>
    </table>
<% end %>

<a class="btn btn-outline-dark" href = "/interactions/new" role = "button">New Interaction</a>