<h1>Welcome, <%= @user.name %></h1>


<% @persons.each do |person| %>
    <div>
    <%= person.name %><br>
    <%= person.company %><br>
    <% person.subjects.each do |subject| %>
        <%= subject %> &nbsp;
    <% end %>
    You met at: <%= person.meeting_place %>
    <a href = "<%= person.linkedin %>">LinkedIn</a><br>
    <a href = "mailto:<%= person.email %>"><%= person.email %><br>
    <%= person.phone %>
    <!--
    <% person.interactions.each do |interaction| %>
        Interaction date: <%= interaction.date %><br>
        Interaction note: <%= interaction.note %><br>
    <% end %>
    -->
    </div>
<% end %>