<div class = "row">
    <div class = "col-sm-12"><p style = "text-align: center;">People you've met</p></div>
</div>


<% @persons.uniq.each do |person| %>
<div class = "row">
    <div class = "col-sm-3"><a style = "color:#6d4e3b;" href = "/persons/<%= person.id %>"><%= person.name %></a></div>
    <div class = "col-sm-3"><%= person.company_name %></div>
    <div class = "col-sm-4"><a href = "mailto: <%= person.email %>"><%= person.email %></a></div>
    <div class = "col-sm-2"><%= person.phone %></div>
</div>
<% end %>




<!-- this page will show all possible people you have talked to
    but possibly not details.
    This will allow us to find their details easily.
    The user show page will show all interactions (so may have the
    same person show up multiple times)
-->