<div>
    <%= flash[:message] %><br><br>
    <strong>Name:</strong> <%= @person.name %><br>
    <strong>Company Name:</strong> <%= @person.company_name %><br>
    <strong>Relevant Subjects:</strong> <%= @person.subjects %><br>
    <strong>You met at:</strong> <%= @person.meeting_place %><br>
    <strong>LinkedIn:</strong> <a href = "<%= @person.linkedin %>"><%= @person.linkedin %></a><br>
    <strong>E-mail:</strong> <a href = "mailto:<%= @person.email %>"><%= @person.email %></a><br>
    <strong>Phone:</strong> <%= @person.phone %><br><br>
    <strong>Interactions with <%= @user.name %>:</strong> <br>
    <ul>
    <% @interactions.each do |interaction| %>
        <li><span style = "color: #254f34"><strong>On <%= interaction.date %>: </strong></span>
        <%= interaction.notes %>
        </li>
    <% end %>
    </ul>
    <br><br>
    <a href = "/persons/<%= @person.id %>/edit">Update this contact</a>
</div>