<div>
    <strong>Name:</strong> <%= @person.name %><br>
    <strong>Company Name:</strong> <%= @person.company_name %><br>
    <strong>Relevant Subjects:</strong> <%= @person.subjects %><br>
    <strong>You met at:</strong> <%= @person.meeting_place %><br>
    <strong>LinkedIn:</strong> <a href = "<%= @person.linkedin %>"><%= @person.linkedin %></a><br>
    <strong>E-mail:</strong> <a href = "mailto:<%= @person.email %>"><%= @person.email %></a><br>
    <strong>Phone:</strong> <%= @person.phone %><br><br>
    <strong>Interactions with <%= @user.name %>:</strong> <br>
    <ul>
    <% @interactions.each do |interaction| %>
        <li><a style = "color: #254f34" href = "/interactions/<%= interaction.id %>"><strong>On <%= interaction.date %>: </strong></a>
        <%= interaction.notes %>
        </li>
    <% end %>
    </ul>
    <br><br>

    <form method="POST" action="/persons/<%= @person.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <a class="btn btn-outline-dark" href = "/persons/<%= @person.id %>/edit" role = "button">Update this contact</a>
        <input type="submit" value="Delete Contact" class="btn btn-outline-dark">
    </form>
</div>